%ul.dropdown-menu
  %li
    %a{href: catalog_path(category: category, sort: :newest)}= t("filters.newest_first")
  %li
    %a{href: catalog_path(category: category, sort: :popular)}= t("filters.pop_first")
  %li
    %a{href: catalog_path(category: category, sort: :price_low)}= t("filters.price_l")
  %li
    %a{href: catalog_path(category: category, sort: :price_hi)}= t("filters.price_h")
